/* STYLE.css - authored by  Nate Wyatt */

@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');	
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute fixed;
}

canvas {
	position: absolute;
	background-color: #111111;
	padding: 0;
	margin: 0;
	display: block;
}

div {
	 
}

.LOGODIV {

}


.LINKDIV {

}


#imgcontainer {

}

#scriptcontainer {

}

h1 {
	padding: 16;
	margin: 16;
	font-family: 'Megrim', cursive;
	font-size: 128;
	text-shadow:
	  0 0 2px #ff0000,
	  0 0 4px #ff0000,
      0 0 8px #ff0000,
      0 0 16px #ff0000,
      0 0 32px #ff0000,
      0 0 40px #ff0000,
      0 0 48px #ff0000,
      0 0 64px #ff0000,
      0 0 96px #ff0000,
      0 0 128px #ff0000;
}

h2 {
	padding: 16;
	margin: 16;
	font-family: 'Megrim', cursive;
	font-size: 96;
	text-shadow:
	  0 0 2px #ffffff,
	  0 0 4px #ff7777,
      0 0 8px #ff0000,
      0 0 16px #ff0000,
      0 0 32px #ff0000,
      0 0 40px #ff0000,
      0 0 48px #ff0000,
      0 0 64px #ff0000,
      0 0 96px #ff0000,
      0 0 128px #ff0000;
}
h3 {
	padding:16;
	font-family: 'Days One', sans-serif;
	font-size: 48;
	text-shadow:
	  0 0 2px #ffffff,
	  0 0 4px #ff77ff,
      0 0 8px #ff00ff,
      0 0 16px #ff00ff,
      0 0 32px #ff00ff;
 
}

img {
	padding: 0px;
	margin: 0px;
}
